<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '219204078529211',
      xfbml      : true,
      version    : 'v2.8',
      status     : true
    });
  };
  
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
 <!-- Modal Trigger -->
<div style="text-align: right;">
				<a class="waves-effect waves-light btn" href="#modal1">ログイン</a>
</div>
  <!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
		<div style="text-align: center">
    	<h4>ログイン</h4>
		</div>
		<h4 style="text-align: center;">facebookでログインする         <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button></h4>
    <p style="text-align: center;">-------------または-------------</p>
		 <div class="row">
     <form class="col s12">
       <div class="row">
         <div class="input-field col s12">
           <input id="password" type="password" class="validate">
           <label for="password">Password</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input id="email" type="email" class="validate">
           <label for="email">Email</label>
         </div>
       </div>
       <div class="row">
         <div class="col s12">
           This is an inline input field:
           <div class="input-field inline">
             <input id="email" type="email" class="validate">
             <label for="email" data-error="wrong" data-success="right">Email</label>
           </div>
         </div>
       </div>
     </form>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<h2>hoge<h2>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
